 
/* Common */
/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.color-tim
{
    color: #00285e; 
}
.login {
    font-weight: 400 !important;
    font-size: 23px;
}

/* End Main */

/* Header */
#header {
    height: 65px;
    background-color: #98c5e9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

#nav .logo-mc {
    position: relative;
    width: 56px;
    height: 60px;
    padding-top: 5px;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center ;
    list-style-type: none;
    font-size: 25px;
    font-weight: 750;
    cursor: pointer;

}
#nav li a:hover {
    text-decoration: underline;
}

#nav a {
    text-decoration: none;
    padding: 0 24px;
    color: #00285e;
    text-transform: uppercase;
}
.mobile-menu {
    display: none;
}
/* End Header */

/* Begin Slider */
#slider {
    margin-top: 65px;
    padding-top: 50%;
    background: url("https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2022/1/15/995216/Man-City.jpeg") top center / cover no-repeat;
    width: 100%;
}
/* End Slider */

/* Content */

.about-club {
    background-color: rgb(238, 236, 236);
}

#history,
#content .content-section,
#club .club-section {
    padding: 64px 16px;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.content-heading {
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
    letter-spacing: 4px;
}
#content .content-text {
    margin: 15px 0;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
/* End Content */

/* Club */
.cards {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    width: calc(25%-10px);
    margin-left: 13px;
    margin-top: 20px;
}
.card-title {
    font-size: 25px;
    color: #6caddf;
    margin-top: 40px;
}
.card-img {
    height: 180px;
    width: 100%;
    background-color: #b0cfe7;

}
.card-img:hover {
    background-color: #6caddf;
    cursor: pointer;
}
.card-heading {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #00285e;
    background-color: #fff;
}
.card-heading:hover{
    cursor: pointer;
    text-decoration: underline;
}
/* End Club */

/* History */
.history-title {
    font-size: 20px;
    margin: 30px 0 10px 0;
}
.history-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
}
.history-img {
    width: 100px;
    height: auto;
}
.history-img:hover {
    cursor: pointer;
}
/* End History */

/* Footer */
#footer {
    padding: 32px 16px;
    text-align: center;
    background-color: #98c5e9;
    width: 100%;
}
#footer .socials-list {
    font-size: 24px;
}
#footer .socials-list a {
    color: #fff;
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: #00285e;
}
#footer .copyright {
    margin-top: 15px;
    color: #000;
}
#footer .copyright a {
    color: #000;
}
/* End Footer */

/* Form */
.form {
    position: fixed;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.form.open {
    display: inline;
}
.form-body{
    position: absolute;
    right: 0; left: 0;
    top: 0; bottom: 0;
    width: 350px;
    height: fit-content;
    margin: auto; 
    padding: 24px;
    font-size: 14px;
    background-color: white;
    
}
.form-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    padding: 10px;
    opacity: 0.9;
}
.form-close:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: #fff;
}
.form__header{
    text-align: center;
}
.form__header h3{
    padding: 12px 0;
}
.form__header p{
    color: rgb(117, 117, 117);
    padding-bottom: 12px;
}

/* Form group */
.form-group{
    padding: 8px 0;
}
.form-group .contain{
    display: flex;
    justify-content: space-evenly;
    padding: 8px 0;
}
.form-group label{
    display: block;
    font-weight: bold;
    
}
.form-group input{
    padding: 8px;
    width: 100%;
    margin: 4px 0;
}
.form-group input[type='radio']{
    width: initial;
}
.form-group .error{
    font-size: .9em;
}
button[type="submit"]{
    margin-top: 24px;
    padding: 12px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    background-color: #98c5e9;
    color: white;
}
button[type="submit"]:hover{
    background-color: #67a8dd;
}

/* Form warning */
.form-group.warning input{
    border: 1px solid red;
    border-radius: 4px;
    background-color: rgb(252, 232, 235);
}
.form-group.warning .error{
    color: rgb(216, 2, 2);
}